@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Importing Futura (assuming local files) */
@font-face {
  font-family: 'Futura';
  src:
    url('/assets/fonts/Futura.woff2') format('woff2'),
    url('/assets/fonts/Futura.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
